In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [5]:
dataset.shape

(399, 25)

In [23]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [24]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [29]:

input=dataset.drop(columns=['classification_yes'])

In [30]:
print (dataset.columns)

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [31]:
print(input)

           age         bp   al   su         bgr          bu        sc  \
0     2.000000  76.459948  3.0  0.0  148.112676   57.482105  3.077356
1     3.000000  76.459948  2.0  0.0  148.112676   22.000000  0.700000
2     4.000000  76.459948  1.0  0.0   99.000000   23.000000  0.600000
3     5.000000  76.459948  1.0  0.0  148.112676   16.000000  0.700000
4     5.000000  50.000000  0.0  0.0  148.112676   25.000000  0.600000
..         ...        ...  ...  ...         ...         ...       ...
394  51.492308  70.000000  0.0  0.0  219.000000   36.000000  1.300000
395  51.492308  70.000000  0.0  2.0  220.000000   68.000000  2.800000
396  51.492308  70.000000  3.0  0.0  110.000000  115.000000  6.000000
397  51.492308  90.000000  0.0  0.0  207.000000   80.000000  6.800000
398  51.492308  80.000000  0.0  0.0  100.000000   49.000000  1.000000

            sod       pot       hrmo  ...  rbc_normal  pc_normal  pcc_present  \
0    137.528754  4.627244  12.518156  ...           1          0            0
1    137.528754  4.627244  10.700000  ...           1          1            0
2    138.000000  4.400000  12.000000  ...           1          1            0
3    138.000000  3.200000   8.100000  ...           1          1            0
4    137.528754  4.627244  11.800000  ...           1          1            0
..          ...       ...        ...  ...         ...        ...          ...
394  139.000000  3.700000  12.500000  ...           1          1            0
395  137.528754  4.627244   8.700000  ...           1          1            0
396  134.000000  2.700000   9.100000  ...           1          1            0
397  142.000000  5.500000   8.500000  ...           1          1            0
398  140.000000  5.000000  16.300000  ...           1          1            0

     ba_present  htn_yes  dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
0             0        0       0        0          1       1        0
1             0        0       0        0          1       0        0
2             0        0       0        0          1       0        0
3             0        0       0        0          1       0        1
4             0        0       0        0          1       0        0
..          ...      ...     ...      ...        ...     ...      ...
394           0        0       0        0          1       0        0
395           0        1       1        0          1       0        1
396           0        1       1        0          0       0        0
397           0        1       1        0          1       0        1
398           0        0       0        0          1       0        0

[399 rows x 27 columns]

In [5]:
input.shape

(399, 24)

In [32]:
output=dataset['classification_yes']

In [7]:
print(output)

0      yes
1      yes
2      yes
3      yes
4      yes
      ...
394    yes
395    yes
396    yes
397    yes
398     no
Name: classification, Length: 399, dtype: object

In [8]:
output.shape

(399,)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test=train_test_split(input,output,test_size=0.2,random_state=2)

In [35]:
print (x_train)

           age          bp   al   su         bgr     bu   sc         sod  \
204  55.000000   80.000000  0.0  0.0  104.000000   28.0  0.9  142.000000
186  54.000000  100.000000  3.0  0.0  162.000000   66.0  1.6  136.000000
3     5.000000   76.459948  1.0  0.0  148.112676   16.0  0.7  138.000000
391  51.492308  100.000000  2.0  0.0  129.000000  107.0  6.7  132.000000
193  54.000000   70.000000  0.0  0.0   76.000000   28.0  0.6  146.000000
..         ...         ...  ...  ...         ...    ...  ...         ...
299  65.000000   70.000000  1.0  0.0  139.000000   29.0  1.0  137.528754
22   20.000000   70.000000  0.0  0.0  123.000000   44.0  1.0  135.000000
72   35.000000   76.459948  0.0  0.0   99.000000   30.0  0.5  135.000000
15   15.000000   80.000000  0.0  0.0   93.000000   17.0  0.9  136.000000
168  50.000000   80.000000  0.0  0.0  137.000000   46.0  0.8  139.000000

          pot  hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  \
204  4.800000  17.3  ...           1          1            0           0
186  4.400000  10.3  ...           1          1            1           0
3    3.200000   8.1  ...           1          1            0           0
391  4.400000   4.8  ...           0          0            0           0
193  3.500000  14.8  ...           1          1            0           0
..        ...   ...  ...         ...        ...          ...         ...
299  4.627244  10.5  ...           0          0            0           0
22   3.800000  14.6  ...           1          1            0           0
72   4.900000  15.4  ...           1          1            0           0
15   3.900000  16.7  ...           1          1            0           0
168  5.000000  14.1  ...           1          1            0           0

     htn_yes  dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
204        0       0        0          1       0        0
186        1       1        0          0       1        0
3          0       0        0          1       0        1
391        1       0        0          1       1        1
193        0       0        0          1       0        0
..       ...     ...      ...        ...     ...      ...
299        1       0        0          1       1        0
22         0       0        0          1       0        0
72         0       0        0          1       0        0
15         0       0        0          1       0        0
168        0       0        0          1       0        0

[319 rows x 27 columns]

In [36]:
print (x_test)

      age     bp   al   su    bgr          bu        sc         sod       pot  \
94   41.0   80.0  0.0  0.0  122.0   25.000000  0.800000  138.000000  5.000000
32   24.0   80.0  0.0  0.0  125.0   57.482105  3.077356  136.000000  3.500000
279  63.0  100.0  2.0  2.0  280.0   35.000000  3.200000  143.000000  3.500000
178  52.0   80.0  0.0  0.0   99.0   25.000000  0.800000  135.000000  3.700000
355  72.0   90.0  0.0  0.0   84.0  145.000000  7.100000  135.000000  5.300000
..    ...    ...  ...  ...    ...         ...       ...         ...       ...
298  65.0  100.0  0.0  0.0   90.0   98.000000  2.500000  137.528754  4.627244
222  57.0   60.0  0.0  0.0  132.0   18.000000  1.100000  150.000000  4.700000
65   34.0   80.0  0.0  0.0  121.0   27.000000  1.200000  144.000000  3.900000
261  61.0   80.0  0.0  4.0  360.0   19.000000  0.700000  137.000000  4.400000
343  70.0   80.0  0.0  0.0   74.0   41.000000  0.500000  143.000000  4.500000

          hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
94   17.100000  ...           1          1            0           0        0
32   15.400000  ...           1          1            0           0        0
279  13.000000  ...           1          1            0           1        1
178  15.000000  ...           1          1            0           0        0
355  12.518156  ...           1          1            0           0        0
..         ...  ...         ...        ...          ...         ...      ...
298   9.100000  ...           1          1            0           0        1
222  15.400000  ...           1          1            0           0        0
65   13.600000  ...           1          1            0           0        0
261  15.200000  ...           1          1            0           0        1
343  15.100000  ...           1          1            0           0        0

     dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
94        0        0          1       0        0
32        0        0          1       0        0
279       0        1          1       0        0
178       0        0          1       0        0
355       1        0          1       0        0
..      ...      ...        ...     ...      ...
298       0        0          1       0        0
222       0        0          1       0        0
65        0        0          1       0        0
261       1        0          1       0        0
343       0        0          1       0        0

[80 rows x 27 columns]

In [37]:
#from sklearn.ensemble import RandomForestClassifier
#classification=RandomForestClassifier(n_estimators=50,random_state=0)
#classification.fit(x_train,y_train)

from sklearn.ensemble import RandomForestClassifier
classification=RandomForestClassifier(n_estimators=50,random_state=0)
classification.fit(x_train,y_train)

RandomForestClassifier(n_estimators=50, random_state=0)

In [38]:
y_pred=classification.predict(x_test)

In [39]:
from sklearn.metrics import confusion_matrix

In [40]:
cm=confusion_matrix(y_test,y_pred)

In [41]:
print(cm)

[[30  0]
 [ 0 50]]

In [47]:
from sklearn.metrics import classification_report
#from sklearn.metrics import classification_report

In [48]:
clf_report=classification_report(y_test,y_pred)

In [49]:
clf_report

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00        30\n           1       1.00      1.00      1.00        50\n\n    accuracy                           1.00        80\n   macro avg       1.00      1.00      1.00        80\nweighted avg       1.00      1.00      1.00        80\n'

In [50]:
print(clf_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        30
           1       1.00      1.00      1.00        50

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80